
.searchInput{
  width: 65rem;
  padding: 1rem;
  margin: 1rem;
}
.searchBtn{
  padding: 0.5rem;
    font-size: larger;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
}
.HomePageTrailer{
  width: 100%;
  height: 70vh;
}

@media (max-width:340px){
  .searchInput{
    width: 10rem;
    padding: 0.5rem;
    margin: 1rem;
  }
  .HomePageTrailer iframe{
    position: relative;
    width: 82vw;
  }
  .searchBtn{
    font-size: small;
    margin-top: 2rem;
  }
}